@media only screen and (min-width: 50em)
/* { for pc and dekstop */
  {
  body {
    background-color: rgb(245, 154, 50);
    background-image: url('decision.jpg');
  }
  
  .buttons{

    text-align: center;
    
}

.btn {
    border: none;
    padding:20px 20px;
    text-align: center;
    font-size:large;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 16%;
    margin:20px 10px;
    background-color: white; 
    border: 2px solid #4CAF50;
    border-radius:10px;

  }

  .btn:hover {
    background-color: #4CAF50;
    color: white;
  }
.submitbutton{
  text-align: center;
}

  /*_______________________________#######################_________________________________*/
  #txtarea {
    min-width: 99%;
    max-width: 99%;
    min-height: 55px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    /* height:100%; */
  }
  
  .s1{
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    display:inline;
    padding: 2px 16px;
  } 
  
  
  /*_______________________________#######################_________________________________*/
  
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header2 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body2 {padding: 2px 16px;}
  
  .modal-footer2 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:100%;
  }
  
  .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
.myclassname{
      min-width: 99%;
      max-width: 15px;
    
  }
  
  /*_______________________________#######################_________________________________*/
  .modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header3 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body3 {padding: 2px 16px;}
  
  .modal-footer3 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:50%;
  }
  
  .close3 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
  .myclassname2{
    
      min-width: 99%;
  }
  
  .s1{
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    /* display:inline-block; */
    height: auto;
    padding: 2px 16px;
  } 
  
  .s2{
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    display:inline-block;
    height: auto;
    padding: 2px 16px;
  }
  
  
/*_______________________________#######################_________________________________*/

/*_______________________________#######################_________________________________*/
 .modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content4 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header4 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body4 {padding: 2px 16px;}
  
  .modal-footer4 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:50%;
  }
  
  .close4 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
  .myclassname3{
    
      min-width: 99%;
    
  }
  
/*_______________________________#######################_________________________________*/

/*_______________________________#######################_________________________________*/
.modal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content5 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header5 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body5 {padding: 2px 16px;}
  
  .modal-footer5 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:50%;
  }
  
  .close5 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close5:hover,
  .close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
  .myclassname4{
    
      min-width: 99%;
    
  }
  

  /* The Modal (background) */
  .modal6 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content6 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close6 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close6:hover,
  .close6:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  h3,
  .content {
    display: inline-block;
  }

  p {
    font-size: large;
    font-weight: 450;
  }

  .out {
    box-sizing: content-box;
    border: 3px solid black;
    border-radius: 3px;
  } 

  #b11 {
    max-width: 200px;
    height: 80px;
    background-color: rgb(62, 151, 114);
    color:white;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
    width: 100%;
    margin:15px;
  }

  #b11:hover {
    background-color: #38d418;
    color: white;
  }

}

@media only screen and (max-width: 49.9375em)
{ /*  for mobile phones */
  
  /* body {
    transform: rotate(+90deg);
    transform-origin: 50% 50%;
  } */


body {
    background-color: rgb(245, 154, 50);
    background-image: url('decision.jpg');
  }
  
  .buttons{

    text-align: center;
    
}

.btn {
    border: none;
    padding: 20px 10px;
    text-align: center;
    font-size:xx-small;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 35%;
    margin:7px 14px;
    background-color: white; 
    border: 2px solid #4CAF50;
    border-radius:10px;
  }

  .btn:hover {
    background-color: #4CAF50;
    color: white;
  }
  .s1{
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    display:inline;
    padding: 2px 16px;
  } 
  


  /*_______________________________#######################_________________________________*/
  
  
  #b11 {
    max-width: 150px;
    height: 60px;
    background-color: rgb(62, 151, 114);
    color:white;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    width: 100%;
    margin:15px;
  }

  #b11:hover {
    background-color: #38d418;
    color: white;
  }
  
  /*_______________________________#######################_________________________________*/
  #txtarea {
    min-width: 99%;
    max-width: 99%;
    min-height: 55px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    /* height:100%; */
  }
  
  .s1{
    border: 5px solid #485048;
    /* border-radius: 7px; */
    font-size: large;
    font-weight:bold;
    cursor: pointer;
    display: inline;
    padding: 2px 16px;
    margin: 15px;
  }

  .submitbutton{
    text-align: center;
  }
  
  /*_______________________________#######################_________________________________*/
  
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header2 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body2 {padding: 2px 16px;}
  
  .modal-footer2 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:100%;
  }
  
  .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
.myclassname{
    
      min-width: 99%;
    
  }
  
  /*_______________________________#######################_________________________________*/
  .modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header3 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body3 {padding: 2px 16px;}
  
  .modal-footer3 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:50%;
  }
  
  .close3 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
  .myclassname2{
    
      min-width: 99%;
  }
  
  .s1{
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    /* display:inline-block; */
    height: auto;
    padding: 2px 16px;
  } 
  
  .s2{
    border: 5px solid #485048;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    display:inline-block;
    height: auto;
    padding: 2px 16px;
  }
  
  
/*_______________________________#######################_________________________________*/

/*_______________________________#######################_________________________________*/
 .modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content4 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header4 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body4 {padding: 2px 16px;}
  
  .modal-footer4 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:50%;
  }
  
  .close4 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
  .myclassname3{
    
      min-width: 99%;
    
  }
  
/*_______________________________#######################_________________________________*/

/*_______________________________#######################_________________________________*/
.modal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content5 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop  ;
    animation-duration: 0.6s
  }
  
  .modal-header5 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
  }
  
  .modal-body5 {padding: 2px 16px;}
  
  .modal-footer5 {
    padding: 2px 16px;
    background-color: #4e8fa3;
    color: white;
    height:50%;
  }
  
  .close5 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close5:hover,
  .close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* #inputarea {
     min-width: 99%;
    max-width: 99%; 
  
  } */
  .myclassname4{
    
      min-width: 99%;
    
  }
  

  /* The Modal (background) */
  .modal6 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content6 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close6 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close6:hover,
  .close6:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  h3,
  .content {
    display: inline-block;
  }

  p {
    font-size: large;
    font-weight: 450;
  }

  .out {
    box-sizing: content-box;
    border: 3px solid black;
    border-radius: 3px;
  } 

}